.container {
    position: fixed;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    font-size: .9rem;
    width: 100%;
    z-index: 500;
}

.navItemsWrapper{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.options{
    display: flex;
    gap: .5rem;
}
