:root {
  font-family: "GothamMedium", system-ui, Avenir, Helvetica, Arial, sans-serif;

}

@font-face {
  font-family: "GothamMedium";
  src: local("GothamMedium"), url("./fonts/GothamMedium.ttf") format("truetype");
  font-weight: normal;
}
